/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
ActionBar {
  font-family: '야놀자 야체 Regular';
  font-weight: bold;
  background-color: #42b983;
  color: #ffffff;
}

Label {
  font-family: '야놀자 야체 Regular';
}

Button {
  font-family: '야놀자 야체 Regular';
}

.button {
  font-size: 50;
}

.button.button-start {
  background-color: transparent;
}

.label-wrapper {
  padding: 10;
}

.home {
  color: black;
}

.home .prefix-label {
  font-size: 60;
}
.home .number-label {
  font-size: 100;
  font-weight: Bold;
}
.home .postfix-label {
  font-size: 50;
}

.result .item-wrapper {
  background-color: white;
}

.item-wrapper .item-label {
  text-align: center;
  font-size: 80;
  font-weight: bold;
  color: gray;
  text-decoration: none;
}
.item-wrapper .item-label.active {
  color: black;
  text-decoration: line-through;
}
.item-wrapper .item-border {
  height: 2;
  background-color: #42b983;
}
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
